html
  include head
  body
    if message
      .flashMessageContainer
          if message.success
              div.flashMessage#success=message.success
          if message.error
              div.flashMessage#error=message.error
          if message.info
              div.flashMessage#error=message.info
      
    include ./nav.pug
    .bodyWrapper
      block content
    include footer
    