nav.wideContainer
    .container.navContainer
        .navContainer__item
            a(href="/")
                i.fa-solid.fa-dumbbell.fa-2xl
        .navContainer__item
            if user
                a(href="/logout") 로그아웃
            else
                a(href="/signin") 로그인
                a(href="/signup") 회원가입