extends includes/layout

block content
    .container
        each message in messages
            .message(class=(message.from === `${user._id}` ? "me" : ""))
                p=message.message
            
