extends includes/layout

block content
    .container.messageContainer
        each message in messages
            .message(class=(`${message.from._id}` === `${user._id}` ? "me" : ""))
                p=message.message
            
