extends includes/layout

block content
    .container.home
        .home__main
            .home__main__img
                img(src="/static/images/main-img.webp")
            .home__main__text
                div " 운동은 최고의 재테크입니다
                div 행복한 미래를 위한 저축입니다 "
                //- div 2022.12.01