extends includes/layout

block content
    .container.home
        .homeBox
            .homeBox__item.first.row
                .homeBox__item__img
                    img(src="/static/images/main-img4.png")
                .homeBox__item__text 
                    p 정보의 바다에서 헤엄쳐보세요
                    a(href="/post")
                        .btn.primary 게시판 바로가기
        .homeBox
            .homeBox__item.second.column
                .homeBox__item__img
                    img(src="/static/images/main-img.png")
                .homeBox__item__text 
                    p 근처 체육관이 궁금하신가요?
                    a(href="/gym")
                        .btn.secondary 체육관 찾으러가기
            .homeBox__item.third.column
                .homeBox__item__img
                    img(src="/static/images/main-img2.png")
                .homeBox__item__text 
                    p 자신이 아는 체육관을 알려보세요
                    a(href="/gallery")
                        .btn.secondary 사진게시판
        
            
