extends includes/layout
include mixins/gymCardBlock
include mixins/avatarBlock

block content
    .container.me
        h1=user.nickname
        +avatarBlock(user.avatarUrl, true)
        a(href=`/user/update`) 유저 정보 수정
        //- a(href=`/user/change-password`) 비밀번호 변경
