extends includes/layout
include mixins/postCardBlock

block content
    .container
        a(href="/post/upload") 업로드
        form(action="/post" method="get")
            input(name="searchTerm" value=renderQuery.searchTerm)
            select(name="category")
                - let i = 0;
                - const arr = ["모두","자유","질문","공유","리뷰","Flex"]
                while i < arr.length
                    option(value=arr[i] selected=(renderQuery.category === arr[i] ? true : undefined))=arr[i]
                    - i++
            label
                span 추천순
                input(type="checkbox" name="orderByRecommend" value="on" checked=renderQuery.isRecommend)
            a(href="/post").btn.secondary 초기화
            button.btn.primary 검색

        each post in posts
            +postCardBlock({
                _id:post._id,
                category:post.category,
                commentLength:post.comments.length,
                likeLength:post.like_users.length,
                createdAt:post.createdAt,
                creator:post.creator
            })
    
    div(id=totalPage class="jsPageContainer gymContainer__end")
    
    script(src="/static/js/pagination.js") 
    
    script(src="/static/js/convertDate.js") 
            