mixin avatarBlock(avatar, width, height)
    if avatar
        img(src=`/${avatar}` style={"width":width,"height":height}).avatar
    else
        img(src="/static/images/noUser.png" style={"width":width,"height":height}).avatar
