.messageContainer {
    display: flex;
    flex-direction: column;
    .message {
        padding: 10px;
        background-color: blue;
        color: white;
        align-self: start;
    }
    .me {
        background-color: red;
        align-self: end;
    }
}
