@import "../config/variable";

.previewContainer {
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        gap: 2px;
        div {
            cursor: pointer;
            z-index: 50;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            color: $blue;
            .fa-xmark {
                font-size: 14px;
                color: $red;
            }
            .fa-crop-simple {
                color: $yellow;
            }
            .fa-spinner {
                color: $accentColor;
            }
        }
    }
}
