$accentColor: #8c9fa9;
$accentHoverColor: blue;
$subAccentColor: #182426;

$fontFamilly: "Gowun Batang", serif;
$bgColor: #101010;
// $bgColor: #f1f2f6;
$textColor: rgb(230, 230, 230);
// $textColor: #2c3a47;
$borderColor: rgb(230, 230, 230);
// $borderColor: gray;
$hoverColor: darkGray;
$boxShadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

$blue: #0c2461;
$red: #b71540;

$footerHeight: 100px;
$navHeight: 80px;
